numpy ==1.21.*
Cython >= 0.29
pyacvd
#python=3.8.12
pyvista
scipy
SimpleITK
vtk
param
jupyter
notebook
traittypes

itkwidgets # dependency needed for pyfocusr

# pyfocusr
# matplotlib
# itkwidgets
# itk
# colorcet
# zstd
# jupyter_core
# jupyter_client
# jupyter_console

