point-cloud-utils
numpy
Cython >= 0.29
pyacvd
#python=3.8.12
pyvista
scipy
SimpleITK
vtk
param
jupyter
notebook
traittypes
pymeshfix

pyfocusr #>= 0.0.9
itkwidgets # == 0.32.5
ipydatawidgets < 4.3.3
#itkwidgets[all]>=1.0a16 # dependency needed for pyfocusr

cycpd

# needed for t2 mapping
nibabel

# pyfocusr
# matplotlib
# itkwidgets
# itk
# colorcet
# zstd
# jupyter_core
# jupyter_client
# jupyter_console

